<%# comment partial to extract showing all the comments for the article in the sender of the show page %>
<p>
     <strong>Commenter: </strong>
    <%= comment.commenter %>
</p>
<p>
    <strong>Comment: </strong>
    <%= comment.body %>
</p>